{% include "./header.html" %}
  {% load static %}

  <!-- This page contains contact information for FunCoup -->
<div class="container pt-5">
  <h2>Contact</h2>
  <p>Please do not hesitate to contact us for feedback, questions, and suggestions. For frequently asked questions see
  <a href="/help/#FAQ">here</a></p>
  <p class="contactEmail">Email: <a href="mailto:funcoup@scilifelab.se">funcoup@scilifelab.se</a></p>

  <p>If you want to report any problems or errors, please consider including the following information: </p>
  <p>- The browser you are using</p>
  <p>- The query URL of your request</p>
  <p>- A screenshot showing the problem</p>
  <br>
    <a href="https://scilifelab.se"><img src="{% static 'website/images/SciLifeLab_logo.png' %}" height="60" class="h-10"></a>
    <p>Sonnhammer Group<br>
    Science for Life Laboratory<br>
    KISP (Karolinska Institutet Science Park)<br>
    Tomtebodavägen 23A<br>
    17165 Solna, Sweden<br>
  </p>

  <h2>License</h2>
  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
    <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
  </a>
  <p>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p>

</div>

{% include "./footer.html" %}
